In [3]:
# Importamos las librerías necesarias
import pandas as pd
#import geopandas
#import shapely.wkt
#import rtree
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 100
%matplotlib inline
pd.set_option("display.max_rows", 101)

In [4]:
# Levantamos el dataset
propiedades_original = pd.read_csv("properatti.csv"
           , encoding = 'utf-8')

In [5]:
propiedades = propiedades_original

In [6]:
# Consultamos si hay duplicados por la columna description y si hay, los borramos
canti = propiedades.duplicated(subset='description').sum()
if canti != 0:
    print("Existen ", canti, " filas duplicadas de acuerdo a su descripción, se eliminan.")
    propiedades = propiedades.drop_duplicates(subset='description', keep="last")

Existen  17164  filas duplicadas de acuerdo a su descripción, se eliminan.

In [7]:
propiedades = propiedades.drop(propiedades[propiedades.state_name!='Capital Federal'].index)

In [8]:
propiedades.columns.values

array(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name',
       'geonames_id', 'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'], dtype=object)

In [16]:
# Reemplazo los NAN de la superficie
propiedades['surface_total_in_m2']=np.where(propiedades["surface_total_in_m2"].isnull(), propiedades['surface_covered_in_m2'],propiedades["surface_total_in_m2"])
propiedades['surface_total_in_m2']=np.where(propiedades["surface_total_in_m2"].isnull(), 0,propiedades["surface_total_in_m2"])
pd.isna(propiedades.surface_total_in_m2).sum()

0

In [17]:
# CAMBIO DE VALORES NAN DE PLACE_NAME
# Aunque la ubicacion no aparece escrita, si aparecen las coordenadas
# Estas coordenadas pertenecen a Nordelta por lo que procedemos a cambiar el place name por Nordelta  

propiedades['place_name'] = propiedades['place_name'].replace(np.nan, 'Nordelta')

In [18]:
# Revisamos las medianas por barrio y tipo de propiedad
propiedades2 = propiedades[['place_name', 'property_type','price_aprox_usd']].groupby(['place_name', 'property_type']).aggregate([np.median])
propiedades2

                                   price_aprox_usd
                                            median
place_name           property_type
Abasto               PH                  160000.00
                     apartment           127500.00
                     house               490000.00
                     store               380000.00
Agronomía            PH                  220000.00
                     apartment           130000.00
                     house               432500.00
                     store               420000.00
Almagro              PH                  220000.00
                     apartment           125000.00
                     house               450000.00
                     store               192500.00
Balvanera            PH                  150000.00
                     apartment           113000.00
                     house               248500.00
                     store               340000.00
Barracas             PH                  150000.00
                     apartment           132050.00
                     house               260000.00
                     store               265000.00
Barrio Norte         PH                  187500.00
                     apartment           225000.00
                     house               895000.00
                     store               225000.00
Belgrano             PH                  294500.00
                     apartment           215356.20
                     house               845000.00
                     store               209000.00
Boca                 PH                  134950.00
                     apartment            92000.00
                     house               216000.00
                     store               160000.00
Boedo                PH                  155000.00
                     apartment           222500.00
                     house               350000.00
                     store               185000.00
Caballito            PH                  199000.00
                     apartment           140000.00
                     house               400000.00
                     store               181755.50
Capital Federal      PH                  150000.00
                     apartment           140000.00
                     house               495000.00
                     store               272000.00
Catalinas            apartment           550000.00
                     store               350000.00
Centro / Microcentro apartment           107981.00
                     house               820000.00
                     store               270000.00
Chacarita            PH                  191500.00
...                                            ...
Versalles            house               303500.00
Villa Crespo         PH                  163500.00
                     apartment           125929.00
                     house               460000.00
                     store               250000.00
Villa Devoto         PH                  173500.00
                     apartment           125000.00
                     house               358000.00
                     store               235000.00
Villa General Mitre  PH                  197500.00
                     apartment            99500.00
                     house               320000.00
Villa Lugano         PH                  125000.00
                     apartment            76500.00
                     house               195000.00
                     store                80000.00
Villa Luro           PH                  149000.00
                     apartment           113500.00
                     house               320000.00
                     store               347500.00
Villa Ortuzar        PH                  230000.00
                     apartment           107000.00
                     house               410000.00
                     store               370000.00
Villa Pueyrredón     PH                  193950.00
                     apartment           116000.00
                     house               282500.00
Villa Real           PH                  156000.00
                     apartment           152000.00
                     house               250000.00
                     store               700000.00
Villa Riachuelo      PH                  157500.00
                     apartment            85000.00
                     house               200000.00
Villa Santa Rita     PH                  180000.00
                     apartment            91900.00
                     house               340000.00
                     store               160000.00
Villa Soldati        PH                   97500.00
                     apartment            69000.00
                     house               160000.00
                     store              4305555.50
Villa Urquiza        PH                  192000.00
                     apartment           131500.00
                     house               349000.00
                     store               143878.85
Villa del Parque     PH                  161000.00
                     apartment           114000.00
                     house               365000.00
                     store               325000.00

[235 rows x 1 columns]

In [19]:
# Reemplazamos por la mediana en los campos cuyo precio en dólares sea NAN (este paso tarda unos minutos)
def completa_nan(valor, str_place_name,str_property_type):
    df2 = propiedades.loc[(propiedades['place_name'] == str_place_name) & (propiedades['property_type'] == str_property_type)]
    return df2.price_aprox_usd.median()

# Revisamos que haya nulos
canti = propiedades["price_aprox_usd"].isnull().sum()
print(canti)
if canti != 0:
    propiedades["price_aprox_usd"] = propiedades["price_aprox_usd"].apply(lambda X: completa_nan(X, propiedades.place_name, propiedades.property_type) if np.isnan(X) else X)

# Revisamos que no haya nulos
canti = propiedades["price_aprox_usd"].isnull().sum()
canti

1884

0

In [20]:
# Testeamos los outliers del price_aprox_usd
def drop_outliers(df, field_name):
    distance = 1.5 * (np.percentile(df[field_name], 75) - np.percentile(df[field_name], 25))
    df.drop(df[df[field_name] > distance + np.percentile(df[field_name], 75)].index, inplace=True)
    df.drop(df[df[field_name] < np.percentile(df[field_name], 25) - distance].index, inplace=True)
    
drop_outliers(propiedades,'price_aprox_usd')
drop_outliers(propiedades,'surface_total_in_m2')

In [21]:
# Borramos columnas que no vamos a usar para una mejor visualización del dataset
propiedades.drop(['Unnamed: 0'], axis=1, inplace=True)
propiedades.drop(['operation'], axis=1, inplace=True)
propiedades.drop(['place_with_parent_names'], axis=1, inplace=True)
propiedades.drop(['country_name'], axis=1, inplace=True)
propiedades.drop(['state_name'], axis=1, inplace=True)
propiedades.drop(['geonames_id'], axis=1, inplace=True)
propiedades.drop(['lat-lon'], axis=1, inplace=True)
propiedades.drop(['lat'], axis=1, inplace=True)
propiedades.drop(['lon'], axis=1, inplace=True)
propiedades.drop(['properati_url'], axis=1, inplace=True)
propiedades.drop(['image_thumbnail'], axis=1, inplace=True)
propiedades.head(100)

,property_type,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
0,PH,Mataderos,62000.0,USD,1093959.00,62000.00,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
2,apartment,Mataderos,72000.0,USD,1270404.00,72000.00,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,PH,Liniers,95000.0,USD,1676227.50,95000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado
7,apartment,Belgrano,138000.0,USD,2434941.00,138000.00,45.0,40.0,3066.666667,3450.000000,NaN,NaN,NaN,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...
8,apartment,Belgrano,195000.0,USD,3440677.50,195000.00,65.0,60.0,3000.000000,3250.000000,NaN,NaN,NaN,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,..."
13,apartment,Palermo Soho,111700.0,USD,1970890.65,111700.00,50.0,30.0,2234.000000,3723.333333,NaN,1.0,NaN,Torre I Mondrian. 3 ambientes con terraza y d...,Vitraux Palermo
14,apartment,Palermo Soho,147900.0,USD,2609621.55,147900.00,42.0,31.0,3521.428571,4770.967742,NaN,1.0,NaN,Torre II Dalí. Ambiente unico divisible.Vitrau...,Vitraux Palermo
16,PH,Mataderos,239000.0,USD,4217035.50,239000.00,140.0,98.0,1707.142857,2438.775510,NaN,4.0,NaN,Ventas Mataderos al frente Duplex 4 amb.- Plan...,VENTA-MATADEROS-DUPLEX 4 AMB.
19,apartment,Palermo,350000.0,USD,6175575.00,350000.00,104.0,96.0,3365.384615,3645.833333,NaN,3.0,NaN,Excelente semipiso al contra frente en Bulnes ...,"Bulnes y Libertador: espectacular pulmón, con ..."
21,apartment,Palermo,270500.0,USD,4772837.25,270500.00,118.0,73.0,2292.372881,3705.479452,NaN,4.0,NaN,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",Departamento de 4 ambientes en Venta en Palermo
29,apartment,Flores,75000.0,USD,1323337.50,75000.00,43.0,43.0,1744.186047,1744.186047,NaN,2.0,NaN,Departamento muy luminoso con todos sus ambien...,Departamento en venta floresta
47,house,Puerto Madero,70000.0,USD,1235115.00,70000.00,80.0,50.0,875.000000,1400.000000,NaN,NaN,NaN,ESTRUCTURA ECOLOGICA FLOTANTEIDEAL PARA UBICAR...,FLOAT LIFE - CASA FLOTANTE - UBICABLE EN CLUBS...
48,apartment,Balvanera,240000.0,USD,4234680.00,240000.00,141.0,124.0,1702.127660,1935.483871,NaN,5.0,NaN,"PISO 13, Orientación norte, disposición al fre...",DEPARTAMENTO EN VENTA
52,apartment,Caballito,110000.0,USD,1940895.00,110000.00,50.0,50.0,2200.000000,2200.000000,NaN,3.0,NaN,Departamento de 3 Ambientes al Contrafrente. S...,CABALLITO 3 AMB. EN VENTA Listo para escriturar
53,apartment,Caballito,170500.0,USD,3008387.25,170500.00,100.0,46.0,1705.000000,3706.521739,NaN,2.0,NaN,14 exclusivos semi-pisos.Excelentes detalles d...,Semi-Pisos de gran categoria.
55,apartment,Caballito,222780.0,USD,3930841.71,222780.00,81.0,75.0,2750.370370,2970.400000,NaN,3.0,NaN,"Excelentes detalles de terminación, y diseño.G...",Excelencia y Calidad.
57,store,Belgrano,250000.0,USD,4411125.00,250000.00,30.0,30.0,8333.333333,8333.333333,NaN,NaN,NaN,VENTA DE LOCAL SOBRE VÍA PÚBLICA CON RENTA - 3...,Local en Excelente Ubicación - Venta con Renta
59,apartment,Caballito,108000.0,USD,1905606.00,108000.00,70.0,67.0,1542.857143,1611.940299,NaN,3.0,NaN,"Al frente muy luminoso.Living comedor, a balco...",Venta 3 Ambientes con dependencias
60,apartment,Nuñez,173000.0,USD,3052498.50,173000.00,50.0,50.0,3460.000000,3460.000000,NaN,2.0,NaN,ESPECTACULAR DEPARTAMENTO DE 2 AMBIENTES CON C...,"VENTA 2 AMB CON COCH, PISCINA PARA INVERSION..."
66,apartment,Boedo,72900.0,USD,1286284.05,72900.00,38.0,NaN,1918.421053,NaN,NaN,NaN,1200.0,CODIGO: 5 ubicado en: Avenida Independencia 26...,"DEPARTAMENTO NUEVO, DE UN AMBIENTE amplio, 3 A..."
97,apartment,San Telmo,1423800.0,ARS,1408947.37,79851.93,0.0,NaN,NaN,NaN,NaN,1.0,NaN,Torre de 15 pisos con amenities ubicados en el...,VIVÍ CERCA DE TODO Av. 9 de Julio
98,apartment,Almagro,109900.0,USD,1939130.55,109900.00,50.0,40.0,2198.000000,2747.500000,NaN,2.0,1577.0,"Venta de Departamento 2 AMBIENTES en Almagro, ...",DEPARTAMENTO EN VENTA
108,house,Capital Federal,170000.0,USD,2999565.00,170000.00,180.0,165.0,944.444444,1030.303030,NaN,NaN,NaN,"Casa en 2 Plantas en BÂ° La Merced, a Metros d...","Casa 180m² con 2 Plantas en Navarro, Julián 29..."
120,apartment,Belgrano,178000.0,USD,3140721.00,178000.00,55.0,55.0,NaN,3236.363636,12.0,NaN,NaN,"Depto de 3 amb. c/cochera cubierta, en piso 12...","Departamento con Plantas en Mendoza 2700, Capi..."
137,PH,Colegiales,249000.0,USD,4393480.50,249000.00,126.0,126.0,NaN,1976.190476,1.0,6.0,NaN,Corredor Responsable: Jose Guendler - C.U.C.I....,PH al frente para reciclar: excelente oportuni...
157,apartment,Balvanera,129000.0,USD,2276140.50,129000.00,80.0,80.0,NaN,1612.500000,NaN,4.0,NaN,Corredor Responsable: Daniel Acosta - CUCICBA ...,4 amb. c/dep muy bueno. Oportunidad.
166,apartment,Caballito,128000.0,USD,2258496.00,128000.00,51.0,51.0,NaN,2509.803922,6.0,2.0,NaN,Corredor Responsable: Mariano Aufseher - CUCIC...,"!!UNICO!! 2 amb c/ balcón, baulera VISTA PANOR..."
167,apartment,Balvanera,118000.0,USD,2082051.00,118000.00,71.0,71.0,NaN,1661.971831,NaN,NaN,NaN,Corredor Responsable: Mariano Aufseher - CUCIC...,Venta departamento en Pasteur 509 Balvanera
178,apartment,Barrio Norte,93000.0,USD,1640938.50,93000.00,35.0,35.0,NaN,2657.142857,NaN,1.0,NaN,Corredor Responsable: Alejandro Botta - CUCICB...,"Venta Mono dividido, amoblado, con muy buena r..."
187,PH,Barracas,160000.0,USD,2823120.00,160000.00,156.0,120.0,1025.641026,1333.333333,NaN,5.0,NaN,"5 Ambientes P.H. en Duplex, lateral - 120 m...",Santa Maria del Buen Aire al 600
204,store,Congreso,295000.0,USD,5205127.50,295000.00,103.0,103.0,2864.077670,2864.077670,NaN,NaN,NaN,"Local Comercial s/ av Callao, ubicación de alt...",Alquiler Local Comercial Sobre Avenida Callao ...
209,apartment,Las Cañitas,235000.0,USD,4146457.50,235000.00,68.0,48.0,3455.882353,4895.833333,NaN,2.0,NaN,"Excelente 2 Ambientes orientacion Este, Muy lu...",Ultimas Unidades
210,apartment,Belgrano,240000.0,USD,4234680.00,240000.00,57.0,54.0,4210.526316,4444.444444,NaN,2.0,NaN,DUPLEX CON COCHERA FIJA CUBIERTA 3 AÑOS DE ANT...,2 Ambientes Venta Belgrano Cochera Cubierta
214,apartment,Caballito,NaN,NaN,NaN,165000.00,49.0,45.0,NaN,NaN,NaN,2.0,NaN,Zona residencial consolidad; con oferta gastro...,Hortiguera 90 Arquicasa Construye
215,store,Chacarita,175000.0,USD,3087787.50,175000.00,80.0,80.0,2187.500000,2187.500000,NaN,NaN,NaN,"Ideal tienda comercial, no apto gastronómico.L...",Excelente Local Alquiler Sobre Av Corrientes
217,apartment,Caballito,NaN,NaN,NaN,165000.00,49.0,45.0,NaN,NaN,NaN,2.0,NaN,Zona residencial consolidad; con oferta gastro...,Ultima Oportunidad Hortiguera 90
218,apartment,Villa Crespo,62000.0,USD,1093959.00,62000.00,33.0,31.0,1878.787879,2000.000000,NaN,1.0,NaN,Emprendimiento Premium en Villa CrespoIDEAL IN...,Exclusivo emprendimiento
221,apartment,Belgrano,237895.0,USD,4197538.32,237895.00,69.0,53.0,3447.753623,4488.584906,NaN,2.0,NaN,El edificio está situado en el barrio de las ...,Ultimas Unidades
222,apartment,Flores,99000.0,USD,1746805.50,99000.00,65.0,62.0,1523.076923,1596.774194,NaN,3.0,NaN,Departamento de 3 ambientesExcelente EstadoGas...,Flores Venta 3 amb
225,apartment,Nuñez,229000.0,USD,4040590.50,229000.00,66.0,59.0,3469.696970,3881.355932,NaN,2.0,NaN,"Emplazado en el corzaón de Nuñez, Pedraza Plaz...",Duplex 2 Ambientes Venta
226,apartment,Nuñez,135000.0,USD,2382007.50,135000.00,45.0,39.0,3000.000000,3461.538462,NaN,1.0,NaN,"Emplazado en el corzaón de Nuñez, Pedraza Plaz...",La ubicación como excelencia
229,apartment,Belgrano,92600.0,USD,1633880.70,92600.00,33.0,33.0,2806.060606,2806.060606,NaN,1.0,NaN,"Monoambientes a la venta, en inmejorable zona ...",Venta Monoambiente- Inmejorable zona de Belgrano
230,apartment,Caballito,445000.0,USD,7851802.50,445000.00,158.0,154.0,2816.455696,2889.610390,NaN,5.0,NaN,EXCELENTE 5 AMBIENTES AL FRENTE 158 M2 . CON ...,Departamento de 5 ambientes en Venta en Caballito
231,PH,Almagro,165000.0,USD,2911342.50,165000.00,85.0,85.0,1941.176471,1941.176471,NaN,4.0,NaN,PH DE USO COMERCIAL O VVDA EN EXCELENTE UBICAC...,Depto.tipo casa de 4 ambientes en Venta en Alm...
241,apartment,Palermo,147300.0,USD,2599034.85,147300.00,39.0,35.0,3776.923077,4208.571429,NaN,1.0,NaN,IMPECABLE TORRE COY III – DEPARTAMENTO DE UN A...,BULNES AL 1900 - VENTA - 1 AMB C/ BALCON AL FR...
251,apartment,Constitución,88900.0,USD,1568596.05,88900.00,90.0,82.0,987.777778,1084.146341,NaN,3.0,NaN,"MUY BUENA PLANTA, 3 AMBIENTES A REFACCIONAR, A...","3 AMBIENTES A REFACCIONAR, A LA CALLE CON BALCON"
253,apartment,Belgrano,340000.0,USD,5999130.00,340000.00,128.0,120.0,2656.250000,2833.333333,NaN,4.0,NaN,"Comodo departamento de 4 ambientes, muy lumino...",Depto. 4 ambientes muy luminoso. Excelente est...
254,PH,Mataderos,53000.0,USD,935158.50,53000.00,28.0,28.0,1892.857143,1892.857143,NaN,1.0,NaN,PH un ambiente a pasitos de J.B.Alberdi. Muy l...,PH GUARDIA NACIONAL 1052. MONOAMBIENTE A REFAC...
255,apartment,Recoleta,120000.0,USD,2117340.00,120000.00,33.0,33.0,3636.363636,3636.363636,NaN,1.0,NaN,Excelente departamento a estrenar en recoleta ...,Sanchez de Bustamante 1300-Recoleta
256,apartment,Palermo,440000.0,USD,7763580.00,440000.00,175.0,175.0,2514.285714,2514.285714,NaN,4.0,NaN,Excelente ubicación en el barrio de Cañitas4 A...,Piso 4 amb con dependencia y cochera en Venta ...
258,apartment,Colegiales,238000.0,USD,4199391.00,238000.00,126.0,120.0,1888.888889,1983.333333,NaN,4.0,NaN,"Hermoso departamento de 4 ambientes, muy lumin...",Distinguido departamento. 4 ambientes. Precio ...
259,apartment,Villa Urquiza,267500.0,USD,4719903.75,267500.00,127.0,123.0,2106.299213,2174.796748,NaN,4.0,NaN,"Hermoso departamento de 4 ambientes, muy lumin...",Departamento de 4 ambientes. al frente. Precio...
260,apartment,Villa Crespo,305000.0,USD,5381572.50,305000.00,120.0,114.0,2541.666667,2675.438596,NaN,4.0,NaN,"Hermoso departamento de 4 ambientes, muy lumin...",Departamento 4 ambientes living comedor 3 dorm...
262,apartment,Barrio Norte,98000.0,USD,1729161.00,98000.00,37.0,37.0,2648.648649,2648.648649,NaN,3.0,NaN,Departamento. Living/Comedor. 2 dormitorio(s)....,Departamento. Living/Comedor. 2 dormitorio(s)....
266,apartment,Palermo Hollywood,135000.0,USD,2382007.50,135000.00,47.0,41.0,2872.340426,3292.682927,NaN,NaN,1800.0,CODIGO: ubicado en: Avenida Santa Fe 5000 - ...,Av. Santa Fe 5000 - 2 amb - Palermo Hollywood
270,apartment,Saavedra,95000.0,USD,1676227.50,95000.00,38.0,32.0,2500.000000,2968.750000,NaN,NaN,NaN,CODIGO: ubicado en: Ricardo Balbin DR. 4300 -...,Venta Mono ambiente Ricardo Balbin DR. 4300 S...
271,apartment,Saavedra,181000.0,USD,3193654.50,181000.00,71.0,67.0,2549.295775,2701.492537,NaN,NaN,NaN,CODIGO: ubicado en: Ricardo Balbin DR. 4300 -...,Venta 3 Amb. Ricardo Balbin 4300 Saavedra Cap...
277,store,Monserrat,470000.0,USD,8292915.00,470000.00,20.0,20.0,NaN,23500.000000,NaN,NaN,NaN,Corredor Responsable: MARA D. MASSIONI - CUCIC...,OPORTUNIDAD VENTA LOCAL COMERCIAL EXCELENTE ZONA
302,house,Pompeya,370000.0,USD,6528465.00,370000.00,20.0,20.0,NaN,18500.000000,NaN,7.0,NaN,Corredor Responsable: Marcelo Trujillo - CUCIC...,"Excelente Casa en Pompeya, sobre Av. La Plata"
317,house,Capital Federal,430000.0,USD,7587135.00,430000.00,125.0,156.0,3440.000000,2756.410256,NaN,NaN,NaN,Buena ubicaciÃ³n. Muy buen acceso. Lezica esq....,"Casa 125m² con 3 Plantas en Lezica, Martín 300..."
340,apartment,Parque Chas,105900.0,USD,1868552.55,105900.00,42.0,42.0,NaN,2521.428571,NaN,1.0,NaN,Corredor Responsable: Uno Bienes Raices SRL - ...,Exclusivo Mono divisible. A ESTRENAR.Entrega A...
341,apartment,Barracas,295000.0,USD,5205127.50,295000.00,128.0,128.0,NaN,2304.687500,2.0,4.0,NaN,Corredor Responsable: Cristian Arnal Ponti - C...,4 amb en Barracas con guardacoche y balcon!
368,apartment,Paternal,1206555.0,ARS,1193968.73,67668.04,28.0,28.0,2416.715714,43091.250000,10.0,NaN,NaN,Venta de Departamento 1 AMBIENTE en PaternalEl...,DEPARTAMENTO EN VENTA
370,store,Recoleta,139000.0,USD,2452585.50,139000.00,33.0,NaN,4212.121212,NaN,NaN,NaN,NaN,"LOCALVenta de Local en Recoleta, Capital Fede...",LOCAL EN VENTA
378,apartment,Caballito,70500.0,USD,1243937.25,70500.00,30.0,30.0,NaN,2350.000000,NaN,NaN,NaN,Aranguren 1200Diseño moderno pisos flotantes y...,Dr. Juan Felipe Aranguren 1200
379,apartment,Caballito,64500.0,USD,1138070.25,64500.00,28.0,25.0,2303.571429,2580.000000,NaN,1.0,NaN,Cómodo estudio profesional / monoamb.al frente...,A estrenar Estudio Prof/Monoamb al fte c/ balc...
382,apartment,Agronomía,140000.0,USD,2470230.00,140000.00,56.0,56.0,2500.000000,2500.000000,NaN,2.0,NaN,"Agronomía, 2 ambientes contrafrente, con coche...","Agronomía, 2 ambientes con cochera fija a estr..."
383,PH,Villa Pueyrredón,198000.0,USD,3493611.00,198000.00,116.0,68.0,1706.896552,2911.764706,NaN,3.0,NaN,A ESTRENAR excelente PH de 3 ambientes! Cuenta...,"A ESTRENAR excelente PH de 3 amb. 2 dormit, 2 ..."
384,apartment,Caballito,91000.0,USD,1605649.50,91000.00,42.0,37.0,2166.666667,2459.459459,NaN,1.0,NaN,PAYSANDU 1248 Edificio a estrenar en el corazó...,Amplio 1 amb con balcón A ESTRENAR - 1 C
386,apartment,Palermo,179000.0,USD,3158365.50,179000.00,70.0,61.0,2557.142857,2934.426230,NaN,3.0,NaN,EMPRENDIMIENTO A ESTRENAR *** Av. Córdoba 5202...,A ESTRENAR amplio 2 dormitorios con 2 baños - ...
388,apartment,Almagro,210000.0,USD,3705345.00,210000.00,77.0,72.0,2727.272727,2916.666667,NaN,4.0,NaN,MUY BUEN DEPARTAMENTO DE 4 AMBIENTES CON DEPEN...,"4 AMB C/DEP, BALCÓN, COCHERA Y BAULERA | BARTO..."
400,apartment,Puerto Madero,350000.0,USD,6175575.00,350000.00,54.0,50.0,6481.481481,7000.000000,NaN,2.0,NaN,"En su dique 1, y delimitado por el Boulevard J...",ZenCity 2 Amb piso ALTO! Vista RIO
401,apartment,Puerto Madero,330000.0,USD,5822685.00,330000.00,54.0,50.0,6111.111111,6600.000000,NaN,2.0,NaN,COCHERA NO NCUIDA EN EL PRECIO u$s40.000En su ...,ZenCity 2 Amb piso ALTO! Vista RIO (OPCION COC...
403,apartment,San Telmo,108356.0,USD,1911887.44,108356.00,41.0,36.0,2642.829268,3009.888889,NaN,1.0,NaN,Gran OPORTUNIDAD de inversión a PRECIO CERRADO...,En Venta - 1 ambiente - Astor San Telmo
405,apartment,Almagro,120000.0,USD,2117340.00,120000.00,56.0,47.0,2142.857143,2553.191489,NaN,3.0,NaN,MUY BUEN DEPARTAMENTO DE 3 AMBIENTES CON BALCÓ...,3 AMBIENTES CON BALCÓN AL CONTRAFRENTE | VENEZ...
411,apartment,Monserrat,120000.0,USD,2117340.00,120000.00,60.0,60.0,2000.000000,2000.000000,NaN,2.0,NaN,"consta de living de 8x4 con cocina integrada, ...",DEPARTAMENTO EN VENTA
420,apartment,Belgrano,520000.0,USD,9175140.00,520000.00,150.0,130.0,3466.666667,4000.000000,NaN,3.0,NaN,"En excelente zona, a metros de Av. Los Incas, ...",Piso de 3amb Mas Dependencia y Cochera Cubierta
422,apartment,Recoleta,378000.0,USD,6669621.00,378000.00,140.0,136.0,2700.000000,2779.411765,NaN,4.0,NaN,Edificio de categoria en excelentes condicione...,Departamento venta
429,apartment,Villa Luro,130000.0,USD,2293785.00,130000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,CODIGO: 1019-V293 ubicado en: RAMON L FALCON 5...,"SEMIPISO DE 2 AMBIENTES , COCINA INDEPENDIENTE..."
434,apartment,Flores,72000.0,USD,1270404.00,72000.00,32.0,32.0,NaN,2250.000000,NaN,NaN,NaN,CODIGO: 2889-abc034 ubicado en: Alfredo Bufano...,Departamento de un ambiente a estrenar
435,apartment,Flores,120000.0,USD,2117340.00,120000.00,120.0,50.0,1000.000000,2400.000000,NaN,NaN,NaN,CODIGO: 2889-abc 0351 ubicado en: Alfredo Bufa...,Departamento de dos ambientes con terraza pro...
443,apartment,Palermo,379900.0,USD,6703145.55,379900.00,175.0,175.0,NaN,2170.857143,2.0,5.0,NaN,Corredor Responsable: Raul Hector Merlo - CUCI...,VENTA PISO JULIAN ALVAREZ Y JUNCAL. APTO CREDITO
444,apartment,Palermo,95000.0,USD,1676227.50,95000.00,43.0,43.0,NaN,2209.302326,NaN,2.0,NaN,Corredor Responsable: Raul Hector Merlo - CUCI...,VENTA 2 AMBIENTES PALERMO
450,apartment,Belgrano,117000.0,USD,2064406.50,117000.00,44.0,44.0,NaN,2659.090909,NaN,2.0,NaN,Corredor Responsable: Luis Varela - CSI 5527 /...,Monoambiente con patio. Apto Profesional
476,apartment,Villa Urquiza,230000.0,USD,4058235.00,230000.00,97.0,97.0,NaN,2371.134021,2.0,3.0,NaN,Corredor Responsable: Mariano Aufseher - CUCIC...,Depto 3 amb frente con balcón 97m y cochera
488,apartment,Villa Devoto,142000.0,USD,2505519.00,142000.00,54.0,54.0,NaN,2629.629630,2.0,2.0,NaN,Corredor Responsable: Ariel Champanier - CUCIC...,DEPARTAMENTO 2 AMBIENTES COCHERA en CUOTAS
491,apartment,Barrio Norte,250000.0,USD,4411125.00,250000.00,122.0,122.0,NaN,2049.180328,1.0,NaN,NaN,Corredor Responsable: Uno Bienes Raices SRL - ...,Depto en Duplex + Patio + Cochera Opcional
496,apartment,Boca,140000.0,USD,2470230.00,140000.00,83.0,74.0,1686.746988,1891.891892,NaN,3.0,NaN,"Pinzón 400. Departamento de 83 metros totales,...",Impecable departamento en La Boca.
503,house,Capital Federal,245000.0,USD,4322902.50,245000.00,160.0,135.0,1531.250000,1814.814815,NaN,NaN,NaN,Duplex de buenisimas medidas ( 5X33) Hall de a...,"Casa 160m² con 3 Plantas en Marconi, Ing. 2400..."
544,house,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA - CASA 4 AMBIENTES EN VILLA DEVOTOLote d...,Griveo 4100
545,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA 3 AMB EN VILLA DEVOTOSemipiso de categor...,Vallejos 4100
546,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA DEPARTAMENTO 3 AMBIENTES - VILLA DEVOTOS...,Vallejos 4100
547,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA 3 AMB EN VILLA DEVOTOSemipiso de catego...,Vallejos 4100
548,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,***PISO DE 4 AMB C/DEP. SIN EXPENSAS***Departa...,Av. Francisco Beiró 3600
549,apartment,Caballito,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA DEPARTAMENTO 2 AMBIENTES EN CABALLITO.De...,Franklin 800
550,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA 4 AMB EN VILLA DEVOTODepartamento de cat...,Habana 3900
551,apartment,Villa Devoto,NaN,NaN,NaN,165000.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,VENTA - DEPARTAMENTO 4 AMB C/DEP. EN VILLA DEV...,Vallejos 4300
555,store,San Telmo,164000.0,USD,2893698.00,164000.00,75.0,75.0,2186.666667,2186.666667,NaN,NaN,NaN,A estrenar excelente local comercial con subsu...,"Amplio local c/ subsuelo, 2 baños. Zona turística"
556,store,San Telmo,210000.0,USD,3705345.00,210000.00,79.0,79.0,2658.227848,2658.227848,NaN,NaN,NaN,A estrenar excelente local comercial muy ampli...,Excelente y amplio local c/ subsuelo. Zona tur...
558,apartment,Caballito,65500.0,USD,1155714.75,65500.00,28.0,25.0,2339.285714,2620.000000,NaN,1.0,NaN,A estrenar estudio profesional / monoambiente ...,A estrenar Estudio Prof/Monoamb c/balcón al ft...

In [22]:
# Se analizan los NAN de la columna rooms
print(propiedades['rooms'].isnull().sum())

# Lo intentamos obtener del título y la descripción con expresiones regulares
rooms = propiedades["title"].str.extract("(\d+)\s?AMB+",expand=True)
rooms = rooms.fillna(propiedades["title"].str.extract("(\d+)\s?DORM+",expand=True))
rooms = rooms.fillna(propiedades["title"].str.extract("(\d+)\s?amb+",expand=True))
rooms = rooms.fillna(propiedades["title"].str.extract("(\d+)\s?dorm+",expand=True))
rooms = rooms.fillna(propiedades["description"].str.extract("(\d+)\s?AMB+",expand=True))
rooms = rooms.fillna(propiedades["description"].str.extract("(\d+)\s?DORM+",expand=True))
rooms = rooms.fillna(propiedades["description"].str.extract("(\d+)\s?amb+",expand=True))
rooms = rooms.fillna(propiedades["description"].str.extract("(\d+)\s?dorm+",expand=True))

# La paso a float como rooms
rooms=rooms.astype('float64')

# Agrego la nueva columna
propiedades['rooms2'] = rooms

#Uso la columna nueva para completar y luego la borro
propiedades['rooms']=np.where(propiedades["rooms"].isnull(), propiedades['rooms2'],propiedades["rooms"])
# Borro la columna nueva
propiedades.drop(['rooms2'], axis=1, inplace=True)

# Veo cuantos null quedan
print(propiedades['rooms'].isnull().sum())

10500
4695

In [23]:
# Estos null los vamos a inferir de la superficie cubierta de la propiedad
# Reglas: 
# Hasta 30 m2 son monoambientes, 0 habitaciones
# Hasta 50 m2 son 2 ambientes, 1 habitación
# Hasta 70 m2 son 3 ambientes, 2 habitaciones
# Hasta 90 m2 son 4 ambientes, 3 habitaciones
# Hasta 110 m2 son 5 ambientes, 4 habitaciones
# Más de 110 m2 son 6 ambientes, 5 habitaciones

# Función que devuelve los ambientes
def setea_ambientes(sup_cub):
    if (sup_cub <= 30):
        return 1
    else:
        if (sup_cub <= 50):
            return 2
        else:
            if (sup_cub <= 70):
                return 3
            else:
                if (sup_cub <= 90):
                    return 4
                else:
                    if (sup_cub <= 110):
                        return 5
                    else:
                        if (sup_cub > 110):
                            return 6
                        else:
                            return 0
        
# Llamo a la función con un lambda para una nueva columna
propiedades["rooms2"] = propiedades["surface_covered_in_m2"].apply(lambda X: setea_ambientes(X))
# Uso la columna nueva
propiedades['rooms']=np.where(propiedades["rooms"].isnull(), propiedades['rooms2'],propiedades["rooms"])
# Borro la columna nueva
propiedades.drop(['rooms2'], axis=1, inplace=True)

# Veo cuantos null quedan
print(propiedades['rooms'].isnull().sum())

# Veo cuantas propiedades hay por cantidad de ambientes
from collections import Counter
print(Counter(propiedades['rooms']))
print (propiedades.shape)

# Elimino outliers -> propiedades con más de 6 ambientes
propiedades.drop(propiedades[propiedades.rooms > 6].index, inplace=True)
print(Counter(propiedades['rooms']))

print (propiedades.shape)

0
Counter({2.0: 7098, 3.0: 5452, 1.0: 3990, 4.0: 3272, 5.0: 750, 0.0: 546, 6.0: 411, 7.0: 41, 8.0: 12, 10.0: 5, 9.0: 3, 2017.0: 1, 11.0: 1, 18.0: 1, 4000.0: 1, 36.0: 1, 12.0: 1})
(21586, 15)
Counter({2.0: 7098, 3.0: 5452, 1.0: 3990, 4.0: 3272, 5.0: 750, 0.0: 546, 6.0: 411})
(21519, 15)

In [24]:
# Definimos una función que dado un texto lo normaliza para hacer más fácil la generación de columnas nuevas
def normalizar(str_x):    
    if isinstance(str_x, str):
        str_x = str_x.lower()
        str_x = str_x.replace(" amb "," ambientes ")
        str_x = str_x.replace(" amb. "," ambientes ")
        str_x = str_x.replace(" ambientesientes "," ambientes ")
        str_x = str_x.replace(" depto "," departamento ")
        str_x = str_x.replace(" depto. "," departamento ")
        str_x = str_x.replace(" dorm "," dormitorio ")
        str_x = str_x.replace(" dorm. "," dormitorio ")
        str_x = str_x.replace(" dormitorioss "," dormitorios ")
        str_x = str_x.replace(" bano "," baño ")
        str_x = str_x.replace(" banio "," baño ")
        str_x = str_x.replace(" banios "," baño ")
        str_x = str_x.replace(" banos "," baños ")
        str_x = str_x.replace(" garage "," cochera ")
        str_x = str_x.replace(" laundry "," lavadero ")
        str_x = str_x.replace(" piscina "," pileta ")
        str_x = str_x.replace(" apto credito "," apto crédito ")

    return str_x

# Invocamos la función para las columnas description y title
propiedades["description"] = propiedades.description.apply(normalizar)
propiedades["title"] = propiedades.title.apply(normalizar)

In [25]:
# Generamos una función genérica para buscar textos y devolver la cantidad de ocurrencias
def buscar_con_canti(X, str_busqueda):
    if isinstance(X, str):
        #return str_busqueda in X
        return sum([1 for i in X.split() if str_busqueda in i.lower()])
    else:
        return 0
    
# Generamos una función genérica para buscar textos y devolver true o false si aparece
def buscar_sin_canti(X, str_busqueda):
    if isinstance(X, str):
        return str_busqueda in X
    else:
        return False

In [26]:
# Intentamos obtener la cantidad de baños
propiedades["Baño"] = propiedades.description.apply(buscar_con_canti,str_busqueda='baño')

# Intentamos saber si tiene cochera
propiedades["Cochera"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='cochera')

# Intentamos saber si tiene pileta
propiedades["Pileta"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='pileta')

# Intentamos saber si tiene dependencia
propiedades["Con dependencia"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='con dependencia')

# Intentamos saber si tiene patio
propiedades["Patio"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='patio')

# Intentamos saber si es apto crédito
propiedades["Apto crédito"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='apto crédito')

# Intentamos saber si es luminoso
propiedades["Luminoso"] = propiedades.description.apply(buscar_sin_canti,str_busqueda='luminoso')

propiedades.head(12)

,property_type,place_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,...,expenses,description,title,Baño,Cochera,Pileta,Con dependencia,Patio,Apto crédito,Luminoso
0,PH,Mataderos,62000.0,USD,1093959.00,62000.0,55.0,40.0,1127.272727,1550.000000,...,NaN,"2 ambientes tipo casa planta baja por pasillo,...",2 ambientes tipo casa sin expensas en pb,1,False,False,False,True,True,False
2,apartment,Mataderos,72000.0,USD,1270404.00,72000.0,55.0,55.0,1309.090909,1309.090909,...,NaN,2 ambientes 3er piso lateral living comedor am...,2 ambientes 3er piso con ascensor apto credito,1,False,False,False,False,False,False
3,PH,Liniers,95000.0,USD,1676227.50,95000.0,0.0,NaN,NaN,NaN,...,NaN,ph 3 ambientes con patio. hay 3 deptos en lote...,ph 3 ambientes cfte. reciclado,0,False,False,False,True,False,False
7,apartment,Belgrano,138000.0,USD,2434941.00,138000.0,45.0,40.0,3066.666667,3450.000000,...,NaN,excelente monoambiente a estrenar amplio super...,jose hernandez 1400 monoambiente estrenar cat...,1,False,True,False,False,False,True
8,apartment,Belgrano,195000.0,USD,3440677.50,195000.0,65.0,60.0,3000.000000,3250.000000,...,NaN,excelente dos ambientes estrenar amplio super...,"jose hernandez 1400 dos ambientes estrenar ,...",1,False,True,False,False,False,True
13,apartment,Palermo Soho,111700.0,USD,1970890.65,111700.0,50.0,30.0,2234.000000,3723.333333,...,NaN,torre i mondrian. 3 ambientes con terraza y d...,vitraux palermo,1,False,True,False,False,False,False
14,apartment,Palermo Soho,147900.0,USD,2609621.55,147900.0,42.0,31.0,3521.428571,4770.967742,...,NaN,torre ii dalí. ambiente unico divisible.vitrau...,vitraux palermo,0,False,True,False,False,False,False
16,PH,Mataderos,239000.0,USD,4217035.50,239000.0,140.0,98.0,1707.142857,2438.775510,...,NaN,ventas mataderos al frente duplex 4 amb.- plan...,venta-mataderos-duplex 4 amb.,1,False,False,False,False,False,False
19,apartment,Palermo,350000.0,USD,6175575.00,350000.0,104.0,96.0,3365.384615,3645.833333,...,NaN,excelente semipiso al contra frente en bulnes ...,"bulnes y libertador: espectacular pulmón, con ...",1,False,False,False,False,False,True
21,apartment,Palermo,270500.0,USD,4772837.25,270500.0,118.0,73.0,2292.372881,3705.479452,...,NaN,"excelente zona, multiples medios de transporte...",departamento de 4 ambientes en venta en palermo,0,False,False,False,True,False,False
29,apartment,Flores,75000.0,USD,1323337.50,75000.0,43.0,43.0,1744.186047,1744.186047,...,NaN,departamento muy luminoso con todos sus ambien...,departamento en venta floresta,2,False,False,False,False,False,True
47,house,Puerto Madero,70000.0,USD,1235115.00,70000.0,80.0,50.0,875.000000,1400.000000,...,NaN,estructura ecologica flotanteideal para ubicar...,float life - casa flotante - ubicable en clubs...,0,False,False,False,False,False,False

In [27]:
# Dummies de la zona
place_name_dummies = pd.get_dummies(propiedades.place_name, prefix='place_name',drop_first='true')
place_name_dummies.sample(n=5, random_state=1)

,place_name_Agronomía,place_name_Almagro,place_name_Balvanera,place_name_Barracas,place_name_Barrio Norte,place_name_Belgrano,place_name_Boca,place_name_Boedo,place_name_Caballito,place_name_Capital Federal,...,place_name_Villa Lugano,place_name_Villa Luro,place_name_Villa Ortuzar,place_name_Villa Pueyrredón,place_name_Villa Real,place_name_Villa Riachuelo,place_name_Villa Santa Rita,place_name_Villa Soldati,place_name_Villa Urquiza,place_name_Villa del Parque
11343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54710,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
76977,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
95163,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
119688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [28]:
# Dummies del tipo de propiedad
property_type_dummies = pd.get_dummies(propiedades.property_type, prefix='property_type',drop_first='true')
property_type_dummies.sample(n=5, random_state=1)

        property_type_apartment  property_type_house  property_type_store
11343                         1                    0                    0
54710                         0                    0                    0
76977                         1                    0                    0
95163                         1                    0                    0
119688                        0                    0                    0

In [29]:
# Dummies de cochera
cochera_dummies = pd.get_dummies(propiedades.Cochera, prefix='cochera',drop_first='true')
cochera_dummies.sample(n=5, random_state=1)

        cochera_True
11343              0
54710              0
76977              1
95163              1
119688             0

In [30]:
# Dummies de pileta
pileta_dummies = pd.get_dummies(propiedades.Pileta, prefix='Pileta',drop_first='true')
pileta_dummies.sample(n=5, random_state=1)

        Pileta_True
11343             0
54710             0
76977             0
95163             0
119688            0

In [31]:
# Dummies de dependencia
dependencia_dummies = pd.get_dummies(propiedades["Con dependencia"], prefix='Dependencia',drop_first='true')
dependencia_dummies.sample(n=5, random_state=1)

        Dependencia_True
11343                  0
54710                  0
76977                  0
95163                  0
119688                 0

In [32]:
# Dummies de patio
patio_dummies = pd.get_dummies(propiedades["Patio"], prefix='Patio',drop_first='true')
patio_dummies.sample(n=5, random_state=1)

        Patio_True
11343            0
54710            0
76977            0
95163            0
119688           1

In [33]:
# Dummies de apto crédito
apto_dummies = pd.get_dummies(propiedades["Apto crédito"], prefix='apto',drop_first='true')
apto_dummies.sample(n=5, random_state=1)

        apto_True
11343           0
54710           0
76977           0
95163           0
119688          1

In [34]:
# Dummies de luminoso
luminoso_dummies = pd.get_dummies(propiedades["Luminoso"], prefix='apto',drop_first='true')
luminoso_dummies.sample(n=5, random_state=1)

        apto_True
11343           0
54710           0
76977           0
95163           0
119688          0

In [35]:
propiedades.columns.values

array(['property_type', 'place_name', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'description',
       'title', 'Baño', 'Cochera', 'Pileta', 'Con dependencia', 'Patio',
       'Apto crédito', 'Luminoso'], dtype=object)

In [38]:
propiedades_prediction = pd.concat([place_name_dummies, property_type_dummies], axis=1)
propiedades_prediction = pd.concat([propiedades_prediction, apto_dummies], axis=1)
propiedades_prediction = pd.concat([propiedades_prediction, pileta_dummies, cochera_dummies, dependencia_dummies, patio_dummies], axis=1) 
propiedades_prediction = pd.concat([propiedades_prediction, luminoso_dummies], axis=1)
propiedades_prediction = pd.concat([propiedades_prediction, propiedades.rooms, propiedades.surface_total_in_m2], axis=1)
propiedades_prediction.head()

,place_name_Agronomía,place_name_Almagro,place_name_Balvanera,place_name_Barracas,place_name_Barrio Norte,place_name_Belgrano,place_name_Boca,place_name_Boedo,place_name_Caballito,place_name_Capital Federal,...,property_type_house,property_type_store,apto_True,Pileta_True,cochera_True,Dependencia_True,Patio_True,apto_True,rooms,surface_total_in_m2
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,2.0,55.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2.0,55.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,3.0,0.0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,2.0,45.0
8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,3.0,65.0

In [39]:
# Serializamos
propiedades_prediction.to_pickle('propiedades_prediction.pkl')
propiedades.to_pickle('propiedades.pkl')